@import './config.css';

.root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
}

.btn {
    flex: 1;
    height: var(--imageHeight);
    font-size: 50px;
    background: transparent;
    border: none;
    color: white;
    text-shadow: 1px 1px 3px rga(0,0,0, 0.6);
    padding: 20px;
    vertical-align: top;
    cursor: pointer;
    user-select: none;
    outline: 0;
}

.btn:hover {
    transition: all 1s;
    color: #8c9ea3;
}

.prev {
    composes: btn;
    text-align: left;
}

.next {
    composes: btn;
    text-align: right;
}